.password-strength-bar {

  &--weak {
    ::ng-deep &.mat-mdc-progress-bar.mat-primary {
      --mdc-linear-progress-active-indicator-color: red !important;
    }
  }

  &--medium {
    ::ng-deep &.mat-mdc-progress-bar.mat-primary {
      --mdc-linear-progress-active-indicator-color: orange !important;
    }
  }

  &--strong {
    ::ng-deep &.mat-mdc-progress-bar.mat-primary {
      --mdc-linear-progress-active-indicator-color: green !important;
    }
  }

}
